[submodule "robot_descriptions/ergocub-software"]
	path = robot_descriptions/ergocub-software
	url = https://github.com/icub-tech-iit/ergocub-software.git
[submodule "robot_descriptions/icub-models"]
	path = robot_descriptions/icub-models
	url = https://github.com/robotology/icub-models.git
[submodule "robot_descriptions/ironcub-mk1-software"]
	path = robot_descriptions/ironcub-mk1-software
	url = https://github.com/ami-iit/ironcub-mk1-software.git
